<div class="card shadow">
    <h5 class="card-header">
        Categories
    </h5>

    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action" id="categoryall"> All</a>
        <a href="#" class="list-group-item list-group-item-action" id="categorylaptop">Laptop</a>
        <a href="#" class="list-group-item list-group-item-action " id="categorymobile">Mobile</a>
        <a href="#" class="list-group-item list-group-item-action" id="categorytablet">Tablet</a>

    </div>

</div>