<div class="card shadow">
    <h5 class="card-header">
        Categories
    </h5>

    <div class="list-group list-group-flush">
        {{#each listCategories}}
        <a href="/products/{{this.idcat}}/categories"
            class="list-group-item list-group-item-action {{#if this.isActive}} active {{/if}}" id="category{{this.idcat}}">
            {{cate}}</a>
        {{/each}}

    </div>

</div>
