<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">CONFIRM DELETE?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <label for="">Name product</label>
                <input type="text" name="namepro" class="btn btn-secondary" style="margin-left:10px!important;width:470px!important;">
                <label for="">Seller</label>
                <input type="text" name="nameseller" class="btn btn-secondary" style="margin-left:10px!important;width:470px!important;">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" formaction="/../users/deleteproduct" class="btn btn-primary"
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>