<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Bidding Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <div class="dropdown">

                        <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false" aria-haspopup="true">
                            Manage</a>

                        <ul class="dropdown-menu" id="drop" role="menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">User</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" href="#">Proudct</a></li>
                            <li><a class="dropdown-item" href="#">Category</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/../admin">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/../users/signup">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>