 <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Bidding Together</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
        <form class="form-inline my-2 my-lg-0">

          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav text-uppercase ml-auto">
          <!--??????????? không làm được -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#topbid">TOP BID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <!--Sign in sign up-->

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/users/signup">Sign in/Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>