<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Bidding Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0">

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <div class="dropdown">

                        <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false" aria-haspopup="true">
                            Category</a>

                        <ul class="dropdown-menu" id="drop" role="menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/products/all/categories">All</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" href="/products/laptop/categories">Laptop</a></li>
                            <li><a class="dropdown-item" href="/products/mobile/categories">Mobile</a></li>
                            <li><a class="dropdown-item" href="/products/tablet/categories">Tablet</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#topbid">TOP BID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li>
                {{#if isSeller}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/products/upload">Upload</a>
                </li>
                {{/if}}


                {{#if checkuser}}
                <li class="nav-item">
                    <div class="dropdown">

                        <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false" aria-haspopup="true" id="dropCategory">
                            <i class="fas fa-user" style="color:white;"></i>
                        </a>

                        <ul class="dropdown-menu" id="drop" role="menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/users/account">{{nameuser}}</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" href="/users/account">Notification</a></li>
                            <li><a class="dropdown-item" href="/users/mycart">My Cart</a>
                            </li>
                            <li><a class="dropdown-item" href="/users/account">Change password</a>
                            </li>
                            <li><a class="dropdown-item" href="/users/signup">Log out</a></li>
                        </ul>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" id="Signin_Signup" href="/users/signup">Sign in/up</a>
                </li>
                {{/if}}

            </ul>
        </div>
    </div>
</nav>