<div class="modal fade" id="beforebid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 300px; margin: auto;">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo!</h5>
            </div>
            <div class="modal-body">
                <p id="setgia">Thông báo!</p>
            </div>
            <form method="POST">
                <div class="modal-footer">
                    <input class="btn btn-outline-primary" formaction="/products/detailproduct/{{product._id}}/bid"
                        type="submit" value="accept">
                    <button class="btn btn-outline-danger" data-dismiss="modal" id="product">cacel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $('#clickbid').click(() => {
        $('#setgia').text("Xác nhận giá đấu là "+ $('#giadau').val()+" đ");
    })
</script>