<nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="post" action="">
        <input class="form-control mr-sm-2 col-md-12" type="search" placeholder="Search" name="search"
            aria-label="Search"> <br>
        <br>
        <select class="custom-select col-md-6" id="select" name="select">
            <option value="macdinh">Sắp xếp theo...</option>
            <option value="giagiamdan">Giá giảm dần</option>
            <option value="giatangdan">Giá tăng dần</option>
            <option value="thoigiantangdan">Thời gian kết thúc giảm dần</option>
            <option value="thoigiangiandan">Thời gian kết thúc tăng dần</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0 col-md-6" type="submit">
            <i class="fa fa-search float-sm-left" aria-hidden="true"> </i> Search
        </button>

        {{#if thongbao}}
        <p>Kết quả tìm kiếm của <span style="color: red;">"{{thongbao}}"</span> </p>
        {{/if}}
    </form>
</nav>
