<!-- Vertical Menu-->
<div class="col-12 col-md-4 col-xl-3 bd-sidebar">
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item"id="lb">
            <a href="#" class="nav-link text-dark bg-light">
                <i class="fas fa-user mr-3 fa-fw"></i>
                List bidder
            </a>
        </li>
        <li class="nav-item"id="ls">
            <a href="#" class="nav-link text-dark bg-light">
                <i class="fas fa-user-tag mr-3 fa-fw"></i>
                List seller
            </a>
        </li>
        <li class="nav-item" id="regis">
            <a href="#" class="nav-link text-dark bg-light">
                <i class="fas fa-user-plus mr-3 fa-fw"></i>
                Register to seller
                
                {{#if totalregist}}
                <span class="badge badge-danger float-right ">{{totalregist}}</span>
                {{/if}}
            </a>
        </li>

    </ul>
</div>
<!-- End vertical navbar -->