<link rel="stylesheet" href="/../stylesheets/admin.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom styles for this template -->
<link href="stylesheets/agency.css" rel="stylesheet">
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello admin!</h1>
            <p>Start managing, you are logged in as admin</p>
            <a href="/../users/signup"><button class="btn btn-dark btn-lg">Log out »</button></a>
        </div>
    </div>

    <div class="container pb-5 mb-2">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Manage user</h2>
                <p>List bidder, List seller, List bidder register to become a seller.</p>
                <a class="btn btn-secondary" href="/../users/manageuser/listbid" role="button">Go on »</a>
            </div>
            <div class="col-md-4">
                <h2>Manage product</h2>
                <p>Manage product include list products from categories of sellers, update to bidder</p>
                <a class="btn btn-secondary" href="/../users/manageproduct/all" role="button">Go on »</a>
            </div>
            <div class="col-md-4">
                <h2>Manage categories</h2>
                <p>Manage categories include add/delete/rename categories</p>
                <a class="btn btn-secondary" href="/../users/managecategory" role="button">Go on »</a>
            </div>
            <hr>
        </div> <!-- /container -->
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/6b7afa5f4b.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>