<link rel="stylesheet" href="/stylesheets/signup.css">

<script>
    $(document).ready(function () {
        $('#btnSignup').click(function () {
            alert("The paragraph was clicked.");
        });
    });
</script>

<div >
    <form method="post">
        <div class="sign-in-htm">
            <div class="group">
                <label for="user" class="label">Old password{{#if erroldpass}}
                    <span name="errorcaptcha"
                        style="float:right; color:rgb(189, 88, 88);">{{erroldpass}}</span>{{/if}}</label>
                <input id="user" type="text" class="input" name="oldpass" required>
            </div>
            <div class="group">
                <label for="pass" class="label">New password{{#if errnewpass}}
                    <span name="errorcaptcha"
                        style="float:right; color:rgb(189, 88, 88);">{{errnewpass}}</span>{{/if}}</label>
                <input id="pass" type="password" class="input" data-type="password" name="newpass" required>
            </div>
            <div class="group">
                <label for="pass" class="label">Repeat password{{#if errreneư}}
                    <span name="errorcaptcha"
                        style="float:right; color:rgb(189, 88, 88);">{{errrenewpass}}</span>{{/if}}</label>
                <input id="pass" type="password" class="input" data-type="password" name="newpass" required>
            </div>
            <div class="group">
                <input type="submit" id="submit" class="button" formaction="/users/changepassword"
                    value="Reset password">
            </div>
        </div>

    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/signup.js"></script>
    <script src="/javascripts/signin.js"></script>
</div>