{{#section 'css'}}

<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<!-- Custom styles for this template -->
<link rel="stylesheet" href="/stylesheets/signup.css">

<link href="/stylesheets/agency.css" rel="stylesheet">
{{/section}}


<script>
    $(document).ready(function () {
        $('#btnSignup').click(function () {
            alert("The paragraph was clicked.");
        });
    });
</script>

<div class='body'style="padding-top: 100px !important;">
    {{>navProducts}}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in"checked><label for="tab-1" class="tab">      CHANGE PASSWORD</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>

            <div class="login-form">
                {{!-- sign in --}}
                <form method="post">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Old password{{#if erroldpass}}
                                <span style="float:right; color:rgb(189, 88, 88);">{{erroldpass}}</span>{{/if}}</label>
                            <input id="pass" type="password" class="input" data-type="password" name="oldpass" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">New Password{{#if errnewpass}}
                                <span style="float:right; color:rgb(189, 88, 88);">{{errnewpass}}</span>{{/if}}</label>
                            <input id="pass" type="password" class="input" data-type="password" name="newpass"
                                required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat New Password{{#if errrenewpass}}
                                <span style="float:right; color:rgb(189, 88, 88);">{{errrenewpass}}</span>{{/if}}</label>
                            <input id="pass" type="password" class="input" data-type="password" name="renewpass"
                                required>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check">
                            <label for="check"><span class="icon"></span> Save change???</label>
                        </div>
                        <div class="group">
                            <input type="submit" id="btnSignin" class="button" formaction="/users/changepassword"
                                value="Reset password">
                        </div>

                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/signup.js"></script>
    <script src="/javascripts/signin.js"></script>
</div>

<!-- Custom scripts for this template -->
<script src="/javascripts/changepassword.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../../vendor/jquery/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>
<script src="/javascripts/product.js"></script>
<script src="/javascripts/counttime.js"></script>