<!-- Custom fonts for this template -->
{{!-- {{#section 'css'}} --}}
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<!-- Custom styles for this template -->
<link rel="stylesheet" href="/../../../stylesheets/upload.css">

<link href="/../../../stylesheets/agency.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">


{{!-- {{/section}} --}}


<div>
    {{>navProducts}}

    <div class="container" style="margin-top: 150px;">
        <p class="h2 text-center">Add bidding</p>
        <form onsubmit="return validate();" method="post">

            <div class="form-group row">
                <label for="process" class="col-md-2 col-form-label">Chọn ảnh sản phẩm</label>
                <div class="col-md-7">
                    <progress class="col-md-12" value="0" id="process" max="100">0%</progress>
                    <input id="photo" class="file" type="file" name="mainimage" value="" onchange="getfile()">
                    <input id="url" name="url" hidden></input>


                </div>
            </div>

            {{!-- <div class="form-group row "></div>
            <div class="col-md-7 offset-md-2">
                <button id="submit_link" type="submit" class="btn btn-secondary doneButton " data-toggle="modal"
                    data-target="#exampleModalCenter">HOÀN THÀNH</button>
            </div> --}}
            <div class="preview text-center">
                <img class="preview-img" src="https://www.onlygfx.com/wp-content/uploads/2016/04/old-photo-camera.png"
                    id="image" alt="Preview Image" width="200" height="200" />
                <div class="browse-button">
                    <i class="fa fa-pencil-alt"></i>
                    <input class="browse-input" type="file" name="UploadedFile" id="UploadedFile" />
                </div>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Name product:</label>
                <input class="form-control" type="text" name="nameproduct" required
                    placeholder="Enter Your Name Product" />
                <span class="Error"></span>

            </div>
            <div class="form-group">
                <label>Begin price:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="beginprice" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Minimum price:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="miniprice" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Purchase price now:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="buynow" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Step price:</label>
                <input class="form-control" type="number" min="100000" step="100000" name="stepprice" required
                    placeholder="Enter step price" value="100000" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Type product:</label>
                <select class="form-control" name="selname" size="1">
                    <option value="laptop">LAPTOP</option>
                    <option value="tablet">TABLET</option>
                    <option value="mobile">MOBILE</option>
                </select>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label for="txtDOB">Date upload</label>
                <input type="text" class="form-control" id="txtDOB" name="dob">
            </div>

            <div class="form-group">
                <label>Time products:</label>
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" type="number" min="1" step="1" name="timeproduct" required
                            placeholder="Enter step price" value="1" />
                        <span class="Error"></span>
                    </div>
                    <select class="custom-select col-md-4" name="selectdate">
                        <option value="ngay">ngày</option>
                        <option value="tuan">tuần</option>
                        <option value="thang">tháng</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="note" class="col-md-4 col-form-label">Ghi chú</label>

                <textarea class="form-control form-control-md" rows="5" placeholder="Thông tin về sản phẩm..."
                    name="ghichu" required></textarea>
            </div>
            <div class="form-group">
                <input type="checkbox"> Do you want to automatically extend time?
            </div>
            <div class="form-group">
                <input id="submit_link" class="btn btn-primary btn-block" type="submit" value="Upload Product"></button>
            </div>

        </form>
    </div>

</div>

{{!-- {{#section 'js'}} --}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var hh = today.getHours();
    var ii = today.getMinutes();

    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    if (hh < 10) {
        hh = '0' + hh;
    }
    if (ii < 10) {
        ii = '0' + ii;
    }
    var today = dd + '/' + mm + '/' + yyyy + " " + hh + ":" + ii;
    $('#txtDOB').val(today);

    $('#txtDOB').datetimepicker({
        // format: 'd/m/Y H:i'
        format: 'd/m/Y H:i',
        timepicker: false,
        mask: true,
    });

    function validate() {
        return true;
    }
</script>
<!-- couple -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/agency.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script src="/../../../javascripts/import-new-products.js"></script>

{{!-- {{/section}} --}}