<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<!-- Custom styles for this template -->
<link rel="stylesheet" href="stylesheets/upload.css">
<link href="stylesheets/agency.css" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->



<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="home">Bidding Together</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <form class="form-inline my-2 my-lg-0">

                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav text-uppercase ml-auto">
                    <!--??????????? không làm được -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#topbid">TOP BID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                    <!--Sign in sign up-->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Marcus Doe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="signup">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 130px;">
        <p class="h2 text-center">Form</p>
        <form action="account" method="post">
            <div class="preview text-center">
                <img class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image"
                    width="200" height="200" />
                <div class="browse-button">
                    <i class="fa fa-pencil-alt"></i>
                    <input class="browse-input" type="file" required name="UploadedFile" id="UploadedFile" />
                </div>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Name product:</label>
                <input class="form-control" type="text" name="nameproduct" required
                    placeholder="Enter Your Name Product" />
                <span class="Error"></span>

            </div>
            <div class="form-group">
                <label>Begin price:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="beginprice" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Minimum price:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="beginprice" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Purchase price now:</label>
                <input class="form-control" type="number" min="100000" step="1000" name="buynow" required
                    placeholder="Enter begin price" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Step price:</label>
                <input class="form-control" type="number" min="100000" step="100000" name="stepprice" required
                    placeholder="Enter step price" value="100000" />
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Type product:</label>
                <select class="form-control" name="selName" size="1">
                    <option value="laptop">LAPTOP</option>
                    <option value="tablet">TABLET</option>
                    <option value="mobile">MOBILE</option>
                </select>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <input type="checkbox"> Do you want to automatically extend time?
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- couple -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/agency.min.js"></script>
</div>